//-----------------------
// IMPORTS
//-----------------------
@import 'base/reset';
@import 'base/variables';
@import 'abstracts/mixins.scss';

//-----------------------
// DEBUG
//-----------------------
// * {
//   outline: 2px dotted red;
// }

//-----------------------
// GENERAL
//-----------------------
body {
  @include flex-column;
  @include position-fixed-center;
  display: flex;
  flex-direction: column;
  background-color: $clr-bk;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* First three rows */
.member-count-wrapper,
.members-list,
.messages {
  // border: 1px solid #e4e4e4;
  padding: 15px;
}
//-----------------------
// MAIN STRUCTURE
//-----------------------

#app-wrapper {
  display: flex;
  // background-color: $clr-bk;
  margin: auto; // centers app
  max-width: 1280px;
  min-width: 360px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

//-----------------------
// ONLINE SECTION
//-----------------------
.online-section {
  @include position-fixed-bleedfix;
  height: 100%;
  width: 0px; // responsive
  left: -2px; // fix for bleeding in viewport
  z-index: 3;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  overflow: hidden;
  border-left: 2px solid $clr-gray-brd;
  border-right: 2px solid $clr-gray-brd;
  transition: $transition-02;
}

.topbar {
  @include flex-center;
  height: 5vh;
  padding: 0 5px;
}

.member-count-wrapper {
  display: flex;
  align-items: center;
  height: 0;
}
.members-count {
  @include user-select-none;
}
.members-list {
  @include flex-column;
  height: 95vh;
}
.members-list {
  .member {
    @include user-select-none;
    @include box-shadow($shadow-y);
    border: 1px solid #caad04;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background: #262521;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: $radius-10;
    transition: $transition-02;

    &:hover {
      @include box-shadow($shadow-w);
      transform: $translate;
      border: 1px solid $clr-gray-brd;
    }
  }
}
//-----------------------
// MESSAGE SECTION
//-----------------------
.message-section {
  @include flex-column;
  background-color: rgba($color: #5c5c5c, $alpha: 0.2);
  //test
  // background: radial-gradient(black 15%, transparent 16%) 0 0,
  //   radial-gradient(black 15%, transparent 16%) 8px 8px,
  //   radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
  //   radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  // background-color: #181818;
  background-image: url('../images/black-linen.png');
  background-size: 16px 16px;
  width: 100%;
  z-index: 1;
  min-height: 0;
  overflow: hidden;
  transition: all 4.5s ease;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  height: calc(100% - 40px);
  transition: $transition-02;
  // flex-shrink: 1; //is this needed
}

/* msg content (once any msgs exist) */
.message {
  align-self: flex-start;
  background-color: #999999;
  margin: 10px;
  padding: 10px 10px;
  border-radius: $radius-10;
}
.my-message {
  align-self: flex-end;
  background-color: #bda61d;
  margin: 10px;
  padding: 10px 10px;
  border-radius: $radius-10;
  font-weight: 500;
}

.message-content {
  padding-top: 3px;
  font-size: 18px;
}
.message-timestamp {
  font-size: 12px;
  text-align: right;
  padding-top: 4px;
}
.status-message {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

//-----------------------
// BUTTONS
//-----------------------

// transforms cursor into pointer for all btns
#emoji-picker,
#emoji-picker-btn,
.logout-button,
.message-form__button,
.font-awesome {
  cursor: pointer;
}
// Online counter has normal cursor
.fa-users,
.members-count {
  cursor: context-menu;
}
//------------------------------
// FONT AWESOME / ICONS / INPUT
//------------------------------
.font-awesome {
  color: $clr-wt-90;
  font-size: 18px;
  padding: 10px;
}
.font-awesome-sidebar {
  @extend .font-awesome;
}
.font-awesome-input {
  @extend .font-awesome;
  background-color: $clr-gray-brd;
  border-radius: $radius-20;
}
.hamburger-input {
  margin: 0 5px;
}
.members-count {
  color: $clr-wt-90;
  font-size: 18px;
  font-weight: bold;
}
#emoji-picker-btn {
  margin-right: 5px;
}
.message-form__input {
  flex-grow: 1; // grows input field to max-width
  border: 1px solid #16bb00;
  border-radius: $radius-20;
  padding: 10px 15px;
  font-size: 16px;
}
//----------------------------
// MESSAGE INPUT FORM SECTION
//----------------------------
.message-form {
  @include position-fixed-input; // fixes keyboard scroll
  display: flex;

  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 5px 0;
  width: 100%;
  background-color: $clr-bk;
  z-index: 3;
}

//-----------------------
// EMOJI AREA
//-----------------------

// emoji div
#emoji-picker {
  @include flex-emoji-picker;
  position: fixed;
  bottom: 10px;
  background: #003e70;
  transition: $transition-02;
  column-gap: 3px;
  height: 0;
  width: 355px;
  overflow: hidden;
  border-radius: $radius-10;
  margin: 0 auto 50px auto;
  z-index: 2;
}
#emoji-picker.visible {
  height: 250px;
}

.emoji {
  @include flex-emoji-picker;
  background-color: rgba($color: #5c83a5, $alpha: 0.5);
  transition: $transition;
  height: 40px;
  width: 40px;
  font-size: 22px;
  border-radius: $radius-50;

  &:hover {
    background: #b3c4d1;
  }
}

//-----------------------
// MEDIA QUERIES
//-----------------------
@media (min-width: 650px) {
  .online-section {
    width: 30rem;

    position: static;
    height: 100%;
  }
  .hamburger-input {
    display: none !important;
  }
  .hamburger-sidebar {
    display: none !important;
  }
  .message-form {
    position: static;
    padding: 5px;
    width: 100%;
  }
  .messages {
    padding: 0;
  }

  .message-section {
    border-right: 2px solid $clr-gray-brd;
  }
  #emoji-picker {
    margin: 0 0 10px 10px;
    bottom: 50px;
  }
}
