html {
  height: 100%;
  min-height: -webkit-fill-available;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ul {
  list-style-type: none; }

body {
  display: flex;
  flex-direction: column;
  padding: 13px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; }

/* First three rows */
.members-count,
.members-list,
.messages {
  border: 1px solid #e4e4e4;
  padding: 15px;
  margin-bottom: 15px; }

.app-wrapper {
  display: flex;
  height: 100vh;
  z-index: 0; }

.font-awesome {
  color: green;
  text-align: center;
  align-self: center;
  padding: 10px;
  margin-right: 10px;
  background-color: gray; }

.fa-bars {
  color: red;
  display: none; }

.online-section {
  height: 94.5vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  transition: all 0.5s ease; }

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 0 5px; }

.members-list {
  display: flex;
  flex-direction: column;
  max-height: 93%; }

.members-list .member {
  border: 1.5px solid black;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background: rgba(223, 223, 223, 0.5);
  border-radius: 4%; }

/* member in the members-list */
.member {
  padding-right: 10px;
  position: relative;
  display: inline; }

.message-section {
  display: flex;
  flex-direction: column;
  height: 98vh;
  width: 100%;
  justify-content: space-between;
  z-index: 1; }

/* 3rd row div, where msgs go */
.messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 1;
  overflow: auto; }

/* msg content (once any msgs exist) */
.message {
  padding: 5px 0;
  background-color: rgba(0, 96, 175, 0.5);
  align-self: flex-start;
  margin: 10px;
  padding: 10px 10px;
  border-radius: 10%; }

.my-message {
  align-self: flex-end;
  background-color: rgba(223, 223, 223, 0.5);
  margin: 10px;
  padding: 10px 10px;
  border-radius: 10%; }

.message-content {
  padding-top: 3px;
  font-size: 18px; }

.message-timestamp {
  font-size: 12px;
  text-align: right;
  padding-top: 4px; }

.status-message {
  text-align: center;
  font-weight: bold;
  font-style: italic; }

/* the typable area "form" */
.message-form {
  display: flex;
  align-self: center;
  flex-shrink: 2;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  bottom: 10px; }

/* the typed text in the "form" */
.message-form__input {
  flex-grow: 1;
  border: 1px solid #16bb00;
  padding: 10px 15px;
  font-size: 16px; }

#emoji-picker,
#emoji-picker-btn,
.logout-button,
.message-form__button {
  cursor: pointer; }

/* the send btn */
.message-form__button {
  margin: 10px; }

.logout-button {
  margin-top: 15px; }

#emoji-picker {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #007fe7;
  position: fixed;
  width: 350px;
  bottom: 12%;
  right: 2%;
  border-radius: 5%; }

.emoji {
  padding: 10px 1px;
  width: 40px;
  font-size: 22px;
  text-align: center; }
  .emoji:hover {
    padding: 10px 1px;
    background: #7ec3fc; }

@media (min-width: 650px) {
  .online-section {
    width: 30%;
    position: block; }

  .font-awesome {
    display: none !important; } }

/*# sourceMappingURL=chatapp.css.map */
