//-----------------------
// IMPORTS
//-----------------------
@import 'base/reset';
@import 'base/variables';
@import 'abstracts/mixins.scss';

//-----------------------
// DEBUG
//-----------------------
// * {
//   border: 2px dotted red;
// }

//-----------------------
// GENERAL
//-----------------------
body {
  box-sizing: border-box;
  margin: 0;
  padding: 13px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* First three rows */
.members-count,
.members-list,
.messages {
  border: 1px solid #e4e4e4;
  padding: 15px;
  margin-bottom: 15px;
}

/* 3rd row div, where msgs go */
.messages {
  flex-shrink: 1; //is this needed
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* msg content (once any msgs exist) */
.message {
  padding: 5px 0;
}
.current-user-message {
  align-self: flex-end;
  background-color: rgba($color: #dfdfdf, $alpha: 0.5);
  //newcode
  margin: 10px;
  padding: 10px 10px;
  border-radius: 10%;
}

/* member name next to a posted msg */
.message .member {
  display: inline-block;
}

/* member in the members-list */
.member {
  padding-right: 10px;
  position: relative;
  display: inline;
}

/* the typable area "form" */
.message-form {
  display: flex;
  flex-shrink: 2;
}

/* the typed text in the "form" */
.message-form__input {
  flex-grow: 1;
  border: 1px solid #16bb00;
  padding: 10px 15px;
  font-size: 16px;
}
//-----------------------
// BUTTONS
//-----------------------

/* the send btn */
.message-form__button {
  margin: 10px;
}
// the logout button
.logout-button {
  margin-top: 15px;
}
// transforms cursor into pointer for all btns
#emoji-picker,
#emoji-picker-btn,
.logout-button,
.message-form__button {
  cursor: pointer;
}

//-----------------------
// EMOJI AREA
//-----------------------

// emoji div
#emoji-picker {
  display: none;
  flex-wrap: wrap;
}
// single emoji div
.emoji {
  padding: 10px 1px;

  &:hover {
    padding: 10px 1px;
    background: blue;
  }
}
.first-column {
  display: flex;
  justify-content: space-between;
}
