@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap");
html {
  height: 100vh;
  min-height: -webkit-fill-available;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ul {
  list-style-type: none; }

button {
  background: none;
  border: none; }

input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

/* clears the ‘X’ from browsers */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none; }

input[type='search'] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none; }

div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  background: #080710; }

.background {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 360px;
  height: 520px; }

.background .shape {
  border-radius: 50%;
  position: absolute;
  height: 100px;
  width: 100px; }

.shape:first-child {
  background: linear-gradient(#cf8700, #f6e423);
  left: 250px;
  top: 0; }

.shape:last-child {
  background: linear-gradient(to left, #2d5e15, #259d01);
  right: 240px;
  bottom: -10px; }

.shape:first-child {
  animation: shape1 1.5s infinite ease-in-out; }

body:has(button) .shape:last-child {
  animation: shape2 1.5s infinite ease-in-out; }

form {
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.102);
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.13);
  width: 280px;
  height: 420px;
  padding: 50px 35px; }

/* targets descendants */
form * {
  outline: none;
  border: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px; }

form h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  line-height: 42px; }

label {
  font-size: 1rem;
  font-weight: 500;
  display: block;
  margin-top: 30px; }

input {
  background-color: rgba(255, 255, 255, 0.07);
  font-size: 0.875rem;
  font-weight: 300;
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 10px; }

input::placeholder {
  transition: all 0.3s;
  color: #e6e6e6; }

input:focus::placeholder {
  color: #999999; }

button {
  background-color: #fff;
  color: #080710;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
  font-size: 1.125rem;
  font-weight: 600;
  width: 100%;
  margin-top: 50px;
  padding: 15px 0; }

button:hover {
  background-color: #1e1d24;
  color: #e6e6e6;
  outline: 0.25px solid #e6e6e6; }

@keyframes shape1 {
  0% {
    box-shadow: 0 0 0 0 #f6e423; }
  70% {
    box-shadow: 0 0 0 15px #080710; }
  100% {
    box-sizing: 0 0 0 0; } }
@keyframes shape2 {
  0% {
    box-shadow: 0 0 0 0 #259d01; }
  70% {
    box-shadow: 0 0 0 15px #080710; }
  100% {
    box-sizing: 0 0 0 0; } }
@media (min-width: 650px) {
  .background {
    width: 430px; }

  .background .shape {
    height: 200px;
    width: 200px; }

  form {
    height: 420px;
    width: 430px; }

  .shape:first-child {
    background: linear-gradient(#cf8700, #f6e423);
    left: 320px;
    top: -80px; }

  .shape:last-child {
    background: linear-gradient(to left, #2d5e15, #259d01);
    right: 270px;
    bottom: -80px; }

  body:has(button:hover) .shape:first-child {
    animation: shape1 1.5s infinite ease-in-out; }

  body:has(button:hover) .shape:last-child {
    animation: shape2 1.5s infinite ease-in-out; } }

/*# sourceMappingURL=login.css.map */
