html {
  height: 100vh;
  min-height: -webkit-fill-available;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
}
//-------------------------
// input type:search fixes
//-------------------------

input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from browsers */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

// prevents Chrome mobile to display autofill suggestions
input[type='search'] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
// fixes emoji div blinking when an emoji was pressed
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
