//----------------------
// COLORS
//----------------------

// general colors
$clr-wt: #fff;
$clr-wt-90: #e6e6e6;
$clr-wt-60: #999999;

$clr-bk: #080710;
$clr-bk-95: #1e1d24;

// member cards
$clr-gr: #262521;

// login div
$clr-gray-brd: rgba(255, 255, 255, 0.102);
$clr-gray-inp: rgba(255, 255, 255, 0.07);
$clr-gray-bcg: rgba(255, 255, 255, 0.13);

// used for online section sidebar
$clr-silver-dk: #080509;
$clr-silver-lt: #1a171c;

// message section / member borders / hover effects
$clr-gold: #caad04;

// message bubbles
$clr-gold-dk: rgba(151, 133, 23, 1);
$clr-gold-lt: rgba(189, 166, 29, 1);

$clr-gray-dk: rgba(122, 122, 122, 1);
$clr-gray-lt: rgba(153, 153, 153, 1);

// emoji picker div
$clr-blue: #003e70;
$clr-blue-lt: rgba(92, 131, 165, 0.5);
$clr-blue-hv: #b3c4d1;

// login page circle art
$clr-yellow-dk: #cf8700;
$clr-yellow-lt: #f6e423;

$clr-green-dk: #2d5e15;
$clr-green-lt: #259d01;

//----------------------
// GRADIENTS
//----------------------

// login page circle art
$gradient-1: linear-gradient($clr-yellow-dk, $clr-yellow-lt);
$gradient-2: linear-gradient(to left, $clr-green-dk, $clr-green-lt);

// online section bg
$gradient-silver: linear-gradient(
  71deg,
  $clr-silver-dk,
  $clr-silver-lt,
  $clr-silver-dk
);

// message bubbles
$gradient-gold: linear-gradient(180deg, $clr-gold-dk 20%, $clr-gold-lt 100%);

$gradient-gray: linear-gradient(180deg, $clr-gray-dk 20%, $clr-gray-lt 100%);

//-----------------------
// TYPOGRAPHY
//-----------------------

$font: 'Poppins', sans-serif;

$fnt-xs: 0.75rem;
$fnt-s: 0.875rem;
$fnt-m: 1rem;
$fnt-l: 1.125rem;
$fnt-xl: 1.5rem;
$fnt-xxl: 2rem;
$fnt-emoji: 1.375rem;

$wgt-bold: 600;
$wgt-normal: 500;
$wgt-slim: 400;
$wgt-thin: 300;

//-----------------------
// DESIGN
//-----------------------

// used on login page
$blur: blur(10px);

$shadow-login: 0 0 40px rgba(8, 7, 16, 0.6);

// shadows for online member cards
$shadow-y: 1px 1px 5px 0px rgb(202, 173, 4);
$shadow-w: 0.5px 1px 5px 1.5px rgba(255, 255, 255, 1);

$shadow-animation: 0 0 0 15px $clr-bk;

$radius-10: 10px;
$radius-20: 20px;
$radius-50: 50%;

$brd-gold: 1px solid $clr-gold;
$brd-gray: 2px solid $clr-gray-brd;
$brd-white: 1px solid $clr-wt;

// online member card transition
$translate: translate(1px, 1px);

$transition: all 0.3s;
$transition-02: all 0.5s ease;
