//----------------------
// COLORS
//----------------------

$clr-wt: #fff;
$clr-wt-90: #e6e6e6;
$clr-wt-60: #999999;

$clr-bk: #080710;
$clr-bk-95: #1e1d24;

$clr-gray-brd: rgba(255, 255, 255, 0.1);
$clr-gray-inp: rgba(255, 255, 255, 0.07);
$clr-gray-bcg: rgba(255, 255, 255, 0.13);

$clr-yellow-dk: #cf8700;
$clr-yellow-lt: #f6e423;

$clr-green-dk: #2d5e15;
$clr-green-lt: #259d01;

$gradient-1: linear-gradient(#cf8700, #f6e423);
$gradient-2: linear-gradient(to left, #2d5e15, #259d01);
$gradient-3: linear-gradient(#3831a0, #151242);
// $gradient-3: linear-gradient(#1845ad, #23a2f6);
// $gradient-4: linear-gradient(to left, #ff512f, #f09819);

//-----------------------
// TYPOGRAPHY
//-----------------------

$fnt-login: 'Poppins', sans-serif;

//-----------------------
// DESIGN
//-----------------------

$shadow: 0 0 40px rgba(8, 7, 16, 0.6);
$shadow-animation: 0 0 0 15px $clr-bk;

$transition: all 0.3s;
