//----------------------
// COLORS
//----------------------

$clr-wt: #fff;
$clr-wt-90: #e6e6e6;
// $clr-wt-80: #cccccc;
$clr-wt-60: #999999;

$clr-bk: #080710;
$clr-bk-95: #1e1d24;

$clr-gray-brd: rgba(255, 255, 255, 0.102);
$clr-gray-inp: rgba(255, 255, 255, 0.07);
$clr-gray-bcg: rgba(255, 255, 255, 0.13);

$clr-yellow-dk: #cf8700;
$clr-yellow-lt: #f6e423;

$clr-green-dk: #2d5e15;
$clr-green-lt: #259d01;

$gradient-1: linear-gradient(#cf8700, #f6e423);
$gradient-2: linear-gradient(to left, #2d5e15, #259d01);
// $gradient-3: linear-gradient(#3831a0, #151242);
$gradient-3: linear-gradient(#3831a0, #151242);
// $gradient-3: linear-gradient(#1845ad, #23a2f6);
// $gradient-4: linear-gradient(to left, #ff512f, #f09819);

//-----------------------
// TYPOGRAPHY
//-----------------------

$fnt-login: 'Poppins', sans-serif;

//-----------------------
// DESIGN
//-----------------------

$shadow-login: 0 0 40px rgba(8, 7, 16, 0.6);

$shadow-y: 1px 1px 5px 0px rgb(202, 173, 4);
$shadow-w: 0.5px 1px 5px 1.5px rgba(255, 255, 255, 1);

$shadow-animation: 0 0 0 15px $clr-bk;

$radius-10: 10px;
$radius-20: 20px;
$radius-50: 50%;

$translate: translate(1px, 1px);

$transition: all 0.3s;
$transition-02: all 0.5s ease;
