@import 'prefixes.scss';

//------------------
// BASE FUNCTION
//------------------

@mixin center-div {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@mixin login-btn {
  background-color: $clr-wt;
  color: $clr-bk;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}
@mixin btn-hover {
  background-color: $clr-bk-95;
  color: $clr-wt-90;
  outline: 0.25px solid $clr-wt-90;
}

//------------------
// LOGIN DESIGN
//------------------

@mixin border_n_shadow {
  box-shadow: $shadow-login;
  border: 2px solid $clr-gray-brd;
  border-radius: 10px;
}

//-------------------
// FORMS
//-------------------

@mixin form-reset {
  outline: none;
  border: none;
}

//--------------------
// STYLE
//--------------------

@mixin border($color) {
  border: 1px solid $color;
}

//--------------------
// RESPONSIVE DESIGN
//--------------------
//stays, used 3x
@mixin flex {
  @include flex-webkit;
  display: flex;
}

@mixin flex-column {
  @include flex-column-webkit;
  display: flex;
  flex-direction: column;
}
@mixin flex-center {
  @include flex-center-webkit;
  display: flex;
  align-items: center;
}
@mixin flex-emoji-picker {
  @include flex-emoji-picker-webkit;
  @include transition-01-webkit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-column-gap: 3px;
  -moz-column-gap: 3px;
}
@mixin position-fixed-center {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
@mixin position-fixed-bleedfix {
  position: fixed;
  left: -2px;
}
@mixin position-fixed-input {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 10%;
}
//--------------------
// FIXES
//--------------------
@mixin user-select-none {
  @include user-select-none-webkit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin box-shadow($shadow) {
  @include box-shadow-webkit($shadow);
  box-shadow: $shadow;
}
