//------------------
// BASE FUNCTION
//------------------

@mixin center-div {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@mixin btn {
  background-color: $clr-wt;
  color: $clr-bk;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}
@mixin btn-hover {
  background-color: $clr-bk-95;
  color: $clr-wt-90;
  outline: 0.25px solid $clr-wt-90;
}

//------------------
// LOGIN DESIGN
//------------------

@mixin border_n_shadow {
  border-radius: 10px;
  border: 2px solid $clr-gray-brd;
  box-shadow: $shadow;
}
@mixin blur {
  backdrop-filter: blur(10px);
}

//-------------------
// FORMS
//-------------------

@mixin form-reset {
  outline: none;
  border: none;
}
//------------------
// RESPONSIVE DESIGN DESIGN
//------------------

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-emoji-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@mixin position-fixed-center {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
@mixin position-fixed-bleedfix {
  position: fixed;
  left: -2px;
}
@mixin position-fixed-input {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
